/* this is a very basic skin  */

/*********** CSS Styles for default appearance of HTML tags ********/
body {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin:0px;
	padding:0px;
}
th, td {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
}
A:link, A:visited,  A:active, A.highlighted {
	text-decoration: none;
	font-size: 11px;
	color:#333;
}
A:hover {
	color: black;
	text-decoration: underline;
}
h2 {
	margin:0px;
	padding:0px;
}

/*********** CSS Styles for default appearance of all modules and sections ********/
.Section {
	border:0px;
}
.SectionTitle {
	text-align: left;
	padding:0px;
	white-space:nowrap;
	display:block;
}
.SectionTitleLabel {
	font-weight:bold;
	font-size:12px;
	line-height:20px;
	margin-left:5px;
}
.SectionBody {
	display:block;
}
.SectionBodyRegion {
	padding: 15px;
}

