.cms-layoutRegion {
}
.cms-layoutRegionHighlighted {
	/*background-color:#ebebeb;*/
	border:1px dashed silver;
	padding:10px;
	min-height:100px;
}
.cms-layoutRegionPlaceHolder {
	background-color:#f5f5f5;
	border:1px dashed #ebebeb;
	z-index:999;
}
.cms-moduleHandleBar {
	background-color:#666;
	color:#fff;
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
	padding:2px;
	font-weight:bold;
	cursor:move;
	height:20px;
	border-bottom:1px solid silver;
	border-right:1px solid silver;
	z-index:999;
}

.cms-layoutRegionHandleBar {
	background-color:#000;
	color:#fff;
	font-size:11px;
	padding:2px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	height:20px;
	display:block;
	border-bottom:1px solid silver;
	border-right:1px solid silver;
}
	
	
.cms-formField {
	width:160px;
	font-size:12px;
	border:1px solid silver;
	padding:2px;
}
.cms-formFieldTip {
    font-size:11px;
    margin-bottom:5px;
    color:#808080;	
}
	
	
#cms-statusMessage {
	font-family:Arial, Helvetica, sans-serif;
	float:right;
	margin-right:10px;
	font-size:10px;
	color:red;
	font-weight:bold;
	background-color:#fefcd8;
	padding-left:10px;
	padding-right:10px;
}	
	
.cms-panel {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:18px;
	border:1px solid #dbdbdb;
	padding:8px;
	margin:5px 0 5px 0;
	background-color:#f3f4ee;
	color:#000;
	text-align:left;
	width:800px;
	margin:0 auto;
	margin-bottom:20px;
}
.cms-panelTitle {
	font-size:14px;
	font-weight:bold;
	margin-bottom:10px;
	border-bottom:1px solid #999;
	text-align:left;
}
.cms-lightPanel {
	color:#333;
	margin-top:3px;
	background-color:#fff;
	padding:8px;
	line-height:20px;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	text-align:left;
}
#cms-navMenuContentPanel {
	
}
.cms-panel input[type="button"] {
	border:1px solid #999;
	font-size:12px;
	background-color:#ebebeb;
	color:#333;
	cursor:pointer;
	font-weight:bold;
	padding:5px;
}
.cms-panel input[type="button"]:hover {
	background-color:#f5f5f5;
	color:#333;
}
.cms-dataTable {
	border-collapse:collapse;
}	
.cms-dataTable td,
.cms-dataTable th {
	border:1px solid silver;
	padding:3px;
}
	
	
	
	
#cms-adminBar {
	margin:0px;	
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	background-color: #000;
	margin-top: 0px;
	border:0px;
	color:#fff;
	height:30px;
	padding-top:5px;
	text-align:left;
	
}
#cms-adminSubBar a {
	text-decoration: none;
	font-size: 11px;
	color:#333;
}
#cms-adminSubBar {
	font-family:Arial, Helvetica, sans-serif;
	background-color: #333;
	border-top:1px solid white; 
	border-bottom:1px solid black; 
	padding-top:3px;
	padding-bottom:2px;
	padding-left:4px;
	color:#fff;
	height:19px;
	line-height:19px;
	margin-bottom:5px;
	font-size:12px;
	text-align:left;
}
#cms-adminSubBar a {
	font-size:11px;
	text-decoration:underline;
	color:#fff;
}
#cms-adminBarActions {
	float:right;
	padding-right:10px;
	padding-top:3px;
}
#cms-adminBarActions img {
	margin-left:5px;
	border:0px;
}
#cms-adminBarActions input {
	font-size:10px;
}
#cms-frmLogin {
	margin:0px;
	padding:0px;
	width:450px;
	float:right;
	text-align:right;
}
#cms-mainTitle {
	font-size:16px;
	font-family:arial;
	font-weight:bold;
	font-variant:small-caps;
	margin:0px;
	padding:0px;
	color:#fff;
	padding-left:10px;	
}
.cms-subTitle {
	font-size:13px;
	font-weight:bold;
}

.cms-divider {
	height:6px;
	margin-bottom:6px;
	border-bottom:1px solid silver;
}

